:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}


h2 {
  font-size: 2rem;
  padding-top: 2rem;
  margin: 0;
}

p {
  font-size: 1.2rem;
  padding: 0.5rem 2rem 2rem;
  margin: 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h2,
a {
  color: #a987e9;
  text-decoration: none;
}

p, a {
  padding-bottom: 2rem;
}

a:hover {
  color: black;
}

.heightimage {
  display: flex;
  justify-content: space-evenly;
}

.heightimage img {
  width: 100%;
  max-width: 25%;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


.heightimage img:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.wideimage {
padding: 30px;
}

.wideimage img {
  max-width: 90%;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.wideimage img:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.background {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

button {
  background-color: #f8f9fa;
  border: #f8f9fa;
  color: #3c4043;
  padding: 10px 20px;
  font-size: 16px;
}

button:hover {
  background-color: gray;
}

button:focus {
  background-color: #a987e9;
}

.languagebuttons {
  background-color: aliceblue;
  padding: 30px;
}